*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}
.quote{
    width: min(100% - 30px, 600px);
    height: 250px;
    /* background: gold; */
    border: 2px solid gold;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.40), 0 0 10px rgba(0,0,0,0.40) ;
    padding: 20px 20px;
    text-align: center;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    margin: -5em 0 1em 0;
    /* border: 1px solid rgba(255, 255, 255, .18); */
    height: 250px;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.quote .light{
    background: #FfF;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    /* filter: blur(15px); */
    z-index: -1;
    transition: .20s;
}
.quote:hover .light{
    top: 10px;
    left: -10px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.40), 0 0 10px rgba(0,0,0,0.40) ;

}

button{
    all: unset;
    padding: 10px 20px;
    background: gold;
    border: 2px solid transparent;
    transition: .15s;
}
button:hover{
    background: #fff;
    border-color: gold;
}