*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    padding: 20px;
    font-size: 20px;
}
.rcg-container{
    display: flex;
    gap: 10px;
}
.hex-container, .rgb-container{
    min-height: 100vh;
    flex: 1;
}
.hex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hex-container button{
    padding: 14px 20px;
    font-size: 18px;
    cursor: pointer;
}
.rgb-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.rgb-container div{
    justify-content: space-between;
}

